.bg {
  &-om-brown {
    background-color: $omee-brown;
  }
  &-om-brown-2 {
    background-color: $omee-brown2;
  }
  &-om-green {
    background-color: $omee-green;
  }
  &-om-light-brown {
    background-color: $omee-light-brown;
  }
}

.circle-box {
  padding: 0 4vw;
  .circle {
    width: 14vw;
    height: 14vw;
    background-image: url(../img/omee_circle_1.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    span {
      width: 90%;
      text-align: center;
      font-size: 20px;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
    p {
      position: absolute;
      color: #fff;
      top: calc(100% + 15px);
      // bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 12px;
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }
  &-challenge {
    // margin-top: 200px;
    position: relative;
    .circle-1 {
      margin: 0 auto 15%;
    }
    .arrow {
      position: absolute;
      width: 6vw;
      &_1 {
        transform: rotate(120deg);
        top: 16.5vw;
        left: 10vw;
      }
      &_2 {
        transform: rotate(-120deg);
        top: 16.5vw;
        right: 10vw;
      }
      &_3 {
        bottom: 7vw;
        left: 16.5vw;
      }
    }
    .center {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
    }
  }
  &-strategy {
    //   margin-top: 200px;
    .circle-1 {
      background-image: url(../img/omee_circle_2.png);
    }
    .arrow {
      width: 5vw;
    }
  }
}

.omee {
  &-core {
    padding: 100px 50px 0;
    .brand-circle {
      width: 100%;
      padding-bottom: 100%;
      border-radius: 50%;
      background-image: url(../img/omee_circle_1.png);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      &.color-bg {
        background-color: $omee-light-brown;
      }
      .text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #fff;
        p {
          font-size: 22px;
          margin-bottom: 5px;
        }
      }
    }
    .line {
      margin: -1px auto 0;
      width: 2px;
      height: 100px;
      background-color: $omee-light-brown;
    }
  }
  &-soul {
    .intro-box {
      max-width: none;
      margin-top: 100px;
    }
    .pic-box {
      width: 33.3333%;
      .pic {
        width: 100%;
        padding-bottom: 210%;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        img {
          position: absolute;
          width: 105%;
          height: 105%;
          object-fit: cover;
        }
        .text {
          position: absolute;
          color: #fff;
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &:first-child {
        .text {
          color: $omee-green;
        }
      }
    }
  }
  &-identity {
    .identity-box {
      .logo-box {
        max-width: 300px;
        width: 100%;
        margin: 150px auto 200px;
        // padding-bottom: 30%;
        position: relative;
        .logo-pic {
          width: 100%;
          padding-bottom: 100%;
          position: relative;
          .logo {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: contain;
          }
        }

        .intro {
          &-1 {
            display: flex;
            align-items: center;
            top: 0;
            left: calc(100% + 20px);
            color: #fff;
            height: 100%;
            .line {
              height: 100%;
              width: 1px;
              background-color: #fff;
              margin-right: 15px;
              position: relative;
              &::before {
                width: 20px;
                height: 1px;
                background-color: #fff;
                position: absolute;
                content: "";
                top: 0;
                right: 0;
              }
              &::after {
                width: 20px;
                height: 1px;
                background-color: #fff;
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
              }
            }
            p {
              width: 200px;
              text-align: justify;
            }
          }
          &-2 {
            color: #fff;
            top: calc(100% + 100px);
            left: 44%;
            width: fit-content;
            p {
              position: relative;
              &::before {
                position: absolute;
                content: "";
                width: 1px;
                height: 200px;
                background-color: #fff;
                bottom: calc(100% + 5px);
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
          &-3 {
            color: #fff;
            top: calc(100% + 100px);
            width: fit-content;
            left: 1.4%;
            p {
              position: relative;
              &::before {
                position: absolute;
                content: "";
                width: 1px;
                height: 200px;
                background-color: #fff;
                bottom: calc(100% + 5px);
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
      .text {
        width: 40%;
        max-width: 300px;
        margin: 0 auto;
        color: #fff;
        text-align: justify;
      }
    }
  }
  &-visual {
    .intro-box {
      width: 30%;
      margin: 100px auto;
    }
    .swiper-omee-visual {
      .text {
        p {
          color: #fff;
          margin-bottom: 3px;
          font-size: 20px;
        }
      }
      .swiper-pagination {
        bottom: 3%;
        &-bullet {
          width: 10px;
          height: 10px;
          background-color: transparent;
          border: 1px solid $omee-light-brown;
          opacity: 1;
          margin: 0 8px;
          &-active {
            background-color: $omee-light-brown;
          }
        }
      }
    }
  }
  &-intro {
    p {
      color: rgba(180, 180, 181, 0.3);
      font-size: 35px;
      font-weight: 500;
      margin: 0;
    }
  }
  &-feedback {
    background-image: url(../img/omee_pic_14.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60%;
    padding-top: 100px;
    position: relative;
    .feedback-title {
      font-size: 17vw;
      color: transparent;
      -webkit-text-stroke: 1px #fff;
      font-family: plume, serif;
    }
    .title-pic {
      width: 85%;
    }
    .intro-box {
      margin-top: 100px;
      width: 40%;
    }
  }
}

@media screen and (max-width: 850px) {
  .omee {
    &-identity {
      .identity-box {
        .logo-box {
          .intro-1 {
            position: static !important;
            .line {
              display: none;
            }
            p {
              max-width: 300px;
              margin: 0 auto 50px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .circle-box {
    .circle {
      width: 90px;
      height: 90px;
      span {
        font-size: 17px;
      }
    }
    &-challenge {
      width: 100%;
      margin: 0 auto 100px;
      .arrow {
        width: 40px;
        &_1 {
          top: 48%;
          left: 25%;
        }
        &_2 {
          top: 48%;
          right: 25%;
        }
        &_3 {
          bottom: 20%;
          left: 44%;
        }
      }
    }
    &-strategy {
      width: 100%;
      margin: 0 auto 100px;
    }
  }
  .omee {
    &-core {
      padding: 50px 25px 0;
    }
    &-visual {
      .intro-box {
        margin: 50px auto;
      }
    } 
    &-intro {
      p {
        font-size: 24px;
      }
      img {
        width: 50% !important;
      }
    }
    &-feedback  {
      // padding-bottom: 200%;
      padding-top: 50px;
      .intro-box {
        margin: 40px 0 35px;
        
      }
      .title-pic {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .omee {
    &-core {
      padding: 50px 15px 0;
      .brand-circle {
        .text {
          p {
            font-size: 16px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
    &-identity {
      .identity-box {
        .text {
          width: 100%;
        }
      } 
    }
    &-visual {
      .intro-box {
        width: 100%;
      }
    } 
    &-feedback  {
      // padding-bottom: 230%;
      .intro-box {
        width: 100%;
      }
      .content {
        // left: 50%;
        // transform: translateX(-50%);
        width: 100%;
        // padding: 0 20px;
      }
    }
  }
}
