.sunmoonlake {
    &-title {
        h2 {
            font-family: $font-optima;
            font-size: 60px;
            margin-bottom: 10px;
            letter-spacing: 0.05em;
        }
        h3 {
            font-size: 20px;
            font-weight: normal;
            margin: 0;
            letter-spacing: 0.05em;
        }
        @media screen and (max-width: 767px) {
            h2 {
                font-size: 48px;
                margin-bottom: 5px;
            }
            h3 {
                font-size: 16px;
            }
        }
        @media screen and (max-width: 575px) {
            h2 {
                font-size: 32px;
            }
        }
        @media screen and (max-width: 360px) {
            h2 {
                font-size: 24px;
            }
        }
    }
    &-hand {
        background-image: url(../img/sunmoonlake-2-pc.png);
        @include bg;
        color: $sunmoonlake-brown;
        padding-bottom: 200px;
        padding-top: 100px;
        &_info {
            margin-right: 85px;
            margin-bottom: 100px;
            p {
                font-size: 14px;
                margin: 0;
                font-family: $font-optima;
                line-height: 1.6;
                &.ch {
                    font-family: $chinese-font;
                }
            }
        }
        &_content {
            width: 45%;
            h2 {
                font-size: 45px;
                font-weight: 500;
                margin-bottom: 50px;
                letter-spacing: 0.05em;
            }
            p {
                margin: 0;
                line-height: 1.8;
                letter-spacing: 0.05em;
                text-align: justify;
            }
        }
        @media screen and (max-width: 1199px) {
            &_content {
                width: 60%;
            }
        }
        @media screen and (max-width: 767px) {
            padding-top: 35px;
            padding-bottom: 45px;
            background-image: url(../img/sunmoonlake-2-m.png);
            &_info {
                margin-right: 35px;
                margin-bottom: 36px;
                p {
                    font-size: 12px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &_content {
                width: 100%;
                h2 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        @media screen and (max-width: 374px) {
            &_info {
                margin-right: 20px;
            }
        }
        @media screen and (max-width: 350px) {
            &_info {
               margin: 0;
               width: 100%;
               margin-bottom: 15px;
            }
            &_content {
                margin-top: 40px;
            }
        }
    }
    &-compose {
        .row {
            margin-left: 0;
            margin-right: 0;
            >div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &_item {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            @include bg;
            h3 {
                font-family: $font-notoSerif;
                color: #fff;
                position: absolute;
                margin: 0;
                top: 50%;
                width: 100%;
                left: 0;
                transform: translateY(-50%);
                font-size: 32px;
                letter-spacing: 0.2em;
                text-shadow: 5px 5px 3px rgba(0,0,0,0.75);
                text-align: center;
                font-weight: normal;
            }
        }
        &_leaf {
            background-image: url(../img/sunmoonlake-3-pc.png);
        }
        &_plant {
            background-image: url(../img/sunmoonlake-4-pc.png);
        }
        &_skill {
            background-image: url(../img/sunmoonlake-5-pc.png);
        }
        @media screen and (max-width: 991px) {
            &_item {
                h3 {
                    font-size: 24px;
                }
            }
        }
        @media screen and (max-width: 767px) {
            &_item {
                padding-bottom: 30%;
                h3 {
                    font-size: 18px;
                    text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
                }
            }
        }
    }
    &-brand {
        position: relative;
        &_top {
            position: absolute;
            color: #fff;
            width: 30%;
            top: 5.57vw;
            left: 40px;
            p {
                margin: 0;
                font-family: $font-optima;
                line-height: 1.7;
                letter-spacing: 0.05em;
            }
        }
        &_bottom {
            position: absolute;
            color: #fff;
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
            left: 0;
            bottom: 1%;
            p {
                font-size: 36px;
                font-family: $font-optima;
                margin: 0;
                letter-spacing: 0.05em;
            }
            h2 {margin: 0;
                font-size: 11.5vw;
                font-family: $font-optima;
                text-align: center;
            }
        }
        @media screen and (max-width: 1470px) {
            &_bottom {
                h2 {
                    font-size: 11.3vw;
                }
            }
        }
        @media screen and (max-width: 1130px) {
            &_top {
                width: 50%;
                p {
                    font-size: 14px;
                }
            }
            &_bottom {
                p {
                    font-size: 30px;
                }
                h2 {
                    font-size: 11vw;
                }
            }
        }
        @media screen and (max-width: 840px) {
            &_bottom {
                h2 {
                    font-size: 10.7vw;
                }
            }
        }
        @media screen and (max-width: 670px) {
            &_top {
                left: 20px;
                p {
                    font-size: 12px;
                }
            }
            &_bottom {
                padding-left: 20px;
                padding-right: 20px;
                p {
                    font-size: 22px;
                }
                h2 {
                    font-size: 11vw;
                }
            }
        }
        @media screen and (max-width: 420px) {
            &_top {
                width: calc(100% - 40px);
            }
            &_bottom {
                p {
                    font-size: 16px;
                }
                h2 {
                    font-size: 10.7vw;
                }

            }
        }
        @media screen and (max-width: 350px) {
            &_bottom {
                h2 {
                    font-size: 10.5vw;
                }

            }
        }
    }
    &-identity {
        position: relative;
        &_text {
            position: absolute;
            color: $sunmoonlake-brown;
            left: 0;
            top: 40px;
        }
        @media screen and (max-width: 575px) {
            &_text {
                top: 20px;
            }
        }
    }
    &-hongyun {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #1A1A1A;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            top: 0;
            left: 0;
        }
        @media screen and (max-width: 767px) {
            height: 0;
            padding-bottom: 100%;
        }
    }
    &-flow {
        background-color: #1A1A1A;
        padding: 13vw;
        .row {
            margin-left: -100px;
            margin-right: -100px;
            >div {
                padding-left: 100px;
                padding-right: 100px;
                &:last-child {
                    .sunmoonlake-flow_item {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        &_item {
            position: relative;
            img {
                width: 100%;
            }
            &::after {
                position: absolute;
                content: "";
                width: 50px;
                height: 10px;
                background-image: url(../img/sunmoonlake-9_arrow.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                bottom: -20px;
                right: -120px;
            }
        }
        &_arrow {
            width: 20px;
            display: block;
            margin: 80px auto;
        }
        @media screen and (max-width: 767px) {
            .row {
                margin-left: 0;
                margin-right: 0;
                >div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            &_item {
                // width: 100%;
                img {
                    width: 50%;
                    display: block;
                    margin: 0 auto;
                }
                &::after {
                    display: none;
                }
            }
        }
        @media screen and (max-width: 575px) {
            &_item {
                img {
                    width: 70%;
                }
            }
            &_arrow {
                width: 15px;
                margin: 40px auto;
            }
        }
    }
    &-supporting {
        padding-bottom: 130px;
        &_title {
            margin-bottom: 130px;
            color: $sunmoonlake-brown;
        }
        &_item {
            position: relative;
            p {
                text-align: center;
                font-family: $font-optima;
                color: $sunmoonlake-brown;
                margin-bottom: 30px;
                font-size: 20px;
            }
            img {
                width: 100%;
            }
            &::after {
                position: absolute;
                content: "";
                width: 100px;
                height: 18px;
                background-image: url(../img/sunmoonlake-11_arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
                top: calc((100% - 60px) / 2 + 60px);
                left: calc(100% + 50px);
                transform: translateY(-50%);
            }
        }
        .row {
            padding-left: 40px;
            padding-right: 40px;
            margin-left: -100px;
            margin-right: -100px;
            >div {
                padding-left: 100px;
                padding-right: 100px;
                &:last-child {
                    .sunmoonlake-supporting_item {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            .row {
                margin-left: -60px;
                margin-right: -60px;
                >div {
                    padding-left: 60px;
                    padding-right: 60px;
                }
            }
            &_item {
                &::after {
                    width: 60px;
                    height: 10px;
                    left: calc(100% + 30px);
                }
            }
        }
        @media screen and (max-width: 767px) {
            &_title {
                margin-bottom: 100px;
            }
            .row {
                padding-left: 0;
                padding-right: 0;
            }
        }
        @media screen and (max-width: 575px) {
            .row {
                margin-left: -40px;
                margin-right: -40px;
                >div {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
            &_item {
                p {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                &::after {
                    width: 40px;
                    height: 7px;
                    top: calc((100% - 34px) / 2 + 34px);
                    left: calc(100% + 20px);
                }
            }
        }
        @media screen and (max-width: 500px) {
            .row {
                margin-left: -25px;
                margin-right: -25px;
                >div {
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
            &_title {
                margin-bottom: 50px;
            }
            &_item {
                &::after {
                    width: 30px;
                    height: 5px;
                    top: calc((100% - 34px) / 2 + 34px);
                    left: calc(100% + 10px);
                }
            }
        }
    }
    &-logo {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        img {
            position: absolute;
            width: 70%;
            height: 70%;
            object-fit: contain;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media screen and (max-width: 767px) {
            height: 0;
            padding-bottom: 100%;
        }
    }
    &-color {
        padding-top: 180px;
        &_title {
            color: $sunmoonlake-brown;
            margin-bottom: 170px;
        }
        &_item {
            padding-top: 60px;
            padding-bottom: 60px;
            &.brown {
                background-color: $sunmoonlake-brown;
                color: #fff;
            }
            &.white {
                background-color: #fff;
                color: $sunmoonlake-brown;
            }
            &.black {
                background-color: #000;
                color: #fff;
            }
        }
        &_name {
            margin-right: 100px;
            p {
                font-family: optimaItalic;
                font-size: 30px;
                letter-spacing: 0.1em;
                margin: 0;
                &:first-child {
                    margin-bottom: 25px;
                }
            }
        }
        &_num {
            p {
                font-family: $font-optima;
                font-size: 20px;
                letter-spacing: 0.05em;
                margin-bottom: 6px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &_cmyk {
                margin-right: 15px;
            }
            &_rgb {
                margin-right: 32px;
            }
        }
        &_gradient {
            .row {
                margin: 0;
            }
            &_item {
                height: 40px;
                background-color: $sunmoonlake-brown;
                &:first-child {
                    opacity: 0.8;
                }
                &:nth-child(2) {
                    opacity: 0.6;
                }
                &:nth-child(3) {
                    opacity: 0.4;
                }
                &:nth-child(4) {
                    opacity: 0.2;
                }
            }
        }
        @media screen and (max-width: 767px) {
            &_item {
                padding: 30px 20px;
            }
            &_name {
                margin: 0;
                p {
                    font-size: 24px;
                }
            }
            &_num {
                p {
                    font-size: 16px;
                }
            }
            &_gradient {
                &_item {
                    height: 20px;
                }
            }
        }
        @media screen and (max-width: 575px) {
            &_name {
                margin: 0;
                p {
                    font-size: 18px;
                    &:first-child {
                        margin-bottom: 15px;
                    }
                }
            }
            &_num {
                p {
                    font-size: 12px;
                }
            }
        }
        @media screen and (max-width: 350px) {
            &_item {
                padding: 30px 10px;
            }
        }
    }
    &-typography {
        padding-top: 180px;
        padding-bottom: 380px;
        &_title {
            color: $sunmoonlake-brown;
            margin-bottom: 200px;
        }
        @media screen and (max-width:767px) {
            padding-top: 90px;
            padding-bottom: 190px;
            &_title {
                margin-bottom: 100px;
            }
        }
    }
    &-scrolling {
        padding-bottom: 20px;
        h3 {
            text-align: center;
            color: $sunmoonlake-brown;
            font-size: 70px;
            margin-bottom: 15px;
            font-family: $font-optima;
        }
        img {
            width: 70px;
            display: block;
            margin: 0 auto;
        }
        @media screen and (max-width: 767px) {
            h3 {
                font-size: 42px;
            }
            img {
                width: 40px;
            }
        }
        @media screen and (max-width: 575px) {
            h3 {
                font-size: 32px;
            }
            img {
                width: 25px;
            }
        }
    }
    &-packing {
        background-color: #1A1A1A;
        padding-top: 90px;
        &_title {
            color: $sunmoonlake-brown;
            margin-bottom: 150px;
        }
        &_pic {
            img {
                width: 100%;
                margin-bottom: 10px;
            }
            .swiper-pagination {
                bottom: 20px;
                &-bullet {
                    background-color: transparent;
                    border: 1px solid #fff;
                    opacity: 1;
                    &-active {
                        background-color: #fff;
                    }
                }
            }
        }
        @media screen and (max-width: 767px) {
            &_pic {
                padding-left: 0;
                padding-right: 0;
                img {
                    margin-bottom: 0;
                }
                .swiper-pagination {
                    bottom: 10px;
                }
            }
            &_slider {
                padding: 70px 30px;
            }
        }
    }
    &-symbol {
        background-color: #1a1a1a;
        padding-top: 175px;
        padding-bottom: 175px;
        &_title {
            color: $sunmoonlake-brown;
            margin-bottom: 120px;
        }
        &_text {
            padding-right: 100px;
            p {
                color: $sunmoonlake-brown;
                margin: 0;
            }
        }
        &_pic {
            padding-left: 100px;
        }
        @media screen and (max-width: 1199px) {
            &_title {
                margin-bottom: 60px;
            }
            &_text {
                padding-right: 30px;
                p {
                    font-size: 14px;
                }
            }
            &_pic {
                padding-left: 30px;
            }
        }
        @media screen and (max-width: 991px) {
            &_text {
                padding-right: 0;
                margin-bottom: 100px;
            }
            &_pic {
                padding-left: 0;
            }
        }
    }
    &-icon {
        padding-top: 225px;
        padding-bottom: 160px;
        background-color: #1a1a1a;
        &_item {
            width: calc(100% / 11);
            margin-bottom: 90px;
            img {
                max-width: 100px;
                width: 100%;
                display: block;
                margin: 0 auto 15px;
            }
            p {
                text-align: center;
                font-size: 12px;
                color: $sunmoonlake-brown;
                margin: 0;
            }
        }
        &_arrow {
            img {
                max-width: 80px;
            }
        }
        @media screen and (max-width: 1199px) {
            &_item {
                width: calc(100% / 7);
                margin-bottom: 40px;
            }
        }
        @media screen and (max-width: 991px) {
            &_item {
                width: calc(100% / 5);
            }
        }
        @media screen and (max-width: 767px) {
            padding-top: 120px;
            padding-bottom: 80px;
            &_item {
                width: calc(100% / 4);
            }
        }
    }
    &-prototype {
        background-color: #1a1a1a;
        &_text {
            padding-top: 95px;
            padding-bottom: 95px;
            color: $sunmoonlake-brown;
            h2 {
                font-size: 35px;
                margin-bottom: 10px;
                font-family: $font-optima;
                letter-spacing: 0.05em;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 60px;
                letter-spacing: 0.05em;
                font-weight: normal;
            }
            p {
                font-size: 35px;
                margin-bottom: 0;
                font-family: $font-optima;
                letter-spacing: 0.05em;
            }
        }
        @media screen and (max-width: 767px) {
            &_text {
                padding-top: 45px;
                padding-bottom: 45px;
                h2 {
                    font-size: 30px;
                }
                h3 {
                    font-size: 18px;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 30px;
                }
            }
        }
        @media screen and (max-width: 575px) {
            &_text {
                padding-left: 20px;
                padding-right: 20px;
                h2 {
                    font-size: 22px;
                }
                p {
                    font-size: 22px;
                }
                h3 {
                    font-size: 14px;
                }
            }
        }
        @media screen and (max-width: 370px) {
            &_text {
                h2 {
                    font-size: 18px;
                }
                p {
                    font-size: 18px;
                }
                h3 {
                    font-size: 12px;
                }
            }
        }
    }
}