.py-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-200px {
    padding-top: 200px;
    padding-bottom: 200px;
}

.pt-100px {
    padding-top: 100px;
}

.pb-100px {
    padding-bottom: 100px;
}

.pt-200px {
    padding-top: 200px;
}

.pb-200px {
    padding-bottom: 200px;
}

.pt-300px {
    padding-top: 300px;
}

.my-100px {
    margin-top: 100px;
    margin-bottom: 100px;
}

.my-200px {
    margin-top: 200px;
    margin-bottom: 200px;
}

.mt-200px {
    margin-top: 200px;
}

.mt-100px {
    margin-top: 100px;
}

.mb-100px {
    margin-bottom: 100px;
}

.mb-200px {
    margin-bottom: 200px;
}

.mt-n1 {
    margin-top: -1px;
}

.mt-n5 {
    margin-top: -5px;
}

.mt-n15 {
    margin-top: -15px;
}

.position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.left-0 {
    left: 0;
}

@media screen and (max-width:767px) {
    .py-100px {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .py-200px {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .pt-100px {
        padding-top: 50px;
    }
    
    .pb-100px {
        padding-bottom: 50px;
    }
    
    .pt-200px {
        padding-top: 100px;
    }
    
    .pb-200px {
        padding-bottom: 100px;
    }
    
    .pt-300px {
        padding-top: 150px;
    }
    
    .my-100px {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .my-200px {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .mt-200px {
        margin-top: 100px;
    }
    
    .mt-100px {
        margin-top: 50px;
    }
    
    .mb-100px {
        margin-bottom: 50px;
    }
    
    .mb-200px {
        margin-bottom: 100px;
    }
}


@import "_common.scss";
@import "_page.scss";
@import "_work.scss";
@import "_jiadong.scss";
@import "_bijoutier.scss";
@import "_omee.scss";
@import "_mishare.scss";
@import "_happy.scss";
@import "_shulong.scss";
@import "_event.scss";
@import "_cocoa.scss";